/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* REGOLE UTILITY
  .container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .row {
    display: flex;
  } */

/* PER VEDERE I CONTAINER
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
} */

/* GRIGLIA DI COLONNE
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
} */

/* HEADER */
.content-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
  font-size: small;
}
.header-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-part nav a {
  padding-right: 15px;
  padding-left: 15px;
}
.logo {
  max-width: 100px;
  max-height: 100px;
}
button {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0362fe;
  color: #b8e8fa;
  border: 1px solid #0362fe;
}

/* HERO */
.background-hero {
  background-color: #b4d0e7;
}
.container-hero-footer {
  max-width: 900px;
  margin: 0 auto;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 60px;
}
h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
}
.hero-part1 {
  width: 30%;
  padding-top: 40px;
}
.hero-part1 button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-part1 i {
  padding-top: 60px;
}
.hero-part2 {
  width: 70%;
  padding-top: 40px;
}
.hero-part2 img {
  max-width: 100%;
}
p,
li {
  color: #333333;
  font-size: small;
  line-height: 17px;
}

/* WHITE SPACE */
.white-space {
  height: 100px;
}
hr {
  border: 1px solid #f8f8f8;
}

/* MAIN */
/* FIRST SECTION */
.container-main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.choice {
  display: inline-block;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.col-1-3 {
  width: calc(100% / 3);
}
.distance {
  padding-bottom: 40px;
  padding-top: 40px;
}
.col {
  width: 100%;
}
h2 {
  font-size: 1.8rem;
  padding-top: 40px;
  padding-bottom: 40px;
}
.card1 {
  border: 1px solid #dedede;
}
header > hr,
.card1 > hr {
  border: 0.5px solid #dedede;
}
.card1 > hr {
  width: 35px;
  margin-left: 30px;
}
.card1 li,
p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fa-ul {
  margin-left: 18px;
}
.card1 header {
  padding-left: 30px;
  padding-right: 30px;
}
.card1 p a {
  text-decoration: underline;
  color: #4442a8;
}
.card1 main,
footer {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.card1 header p:first-child {
  text-align: center;
}
.card1 header h3 {
  padding-top: 20px;
}
.card1 footer p:first-child {
  font-weight: 600;
}
.card1 button {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* SECOND SECTION */
.img-text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 80px;
}
.main-part1 {
  width: 60%;
}
.main-part1 img {
  max-width: 90%;
}
.main-part2 {
  width: 40%;
  padding-right: 20px;
  padding-top: 40px;
}

.main-part2 button {
  background-color: white;
  color: #2e2827;
  border: 1px solid currentColor;
}
.main-part2 p {
  padding-bottom: 20px;
  padding-top: 20px;
}
/* THIRD SECTION */
.col-1-3 img {
  max-width: 90%;
}
.section3-pharagraph {
  padding-top: 30px;
}
/* FOURTH SECTION */
.section4 {
  padding-top: 40px;
  padding-bottom: 130px;
}
.section4 a {
  text-decoration: underline;
  color: #4442a8;
}
/* FOOTER */
.background-footer {
  background-color: #000000;
}
.content-footer {
  color: white;
  padding-bottom: 20px;
}
.content-footer p {
  color: #7b797b;
}
.distance2 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.col-1-5 {
  width: calc(100% / 5);
}
.col-1-5 nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.col-1-5 nav a {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #acb2b0;
  font-size: small;
  line-height: 17px;
}
